/* Angular bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.jumbotron {
	padding: 24px;
}

.row {
  margin-top: 20px;
  margin-bottom: 0;
}

.main-map-panel-body {
	padding: 0;
}

.main-map {
	width: 100%;
	height: 200px;
}

.tweet .date {
	float: right;
}

.tweet .panel-heading {
	background-repeat: no-repeat;
	background-color: #eee;
}

.tweet .panel {
	background-color: #f2f2f2;
}

.tweet .panel-title {
	padding-left: 45px;
}

.geo.tweet .panel-body {
	padding: 0;
}

.geo.tweet .panel-body p {
	padding: 15px;
	float: left;
	width: 50%;
}

.geo.tweet .map {
	width: 50%;
	height: 150px;
	float: right;
	border-left: solid #ddd 1px;
}