<!doctype html>
<html lang="en" ng-app="tweetSearchApp">
	<head>
		<meta charset="utf-8">
		<title>Twitter Search</title>
		<script src="/angular/angular.js"></script>
		<script src="/leaflet/dist/leaflet.js"></script>
		<script src="/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
		<script src="/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
		<script src="/js/controllers.js"></script>

		<link rel="stylesheet" href="/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body ng-controller="TweetListController">
		<form ng-submit="search()">
			<input ng-model="query" ng-init="query = '#burningman'"/>
			<input type="submit"/>
		</form>

		<div>
			<div ng-show="error">
				ERRORS:
				<ul>
					<li ng-repeat="error in error.errors">{{ error.message }}</li>
				</ul>
			</div>

			<hr/>

			<div>All tweets: {{ allTweetsCount }}</div>
			<div>Geo tweets: {{ geoTweetsCount }}</div>

			<div ng-show="geoTweetsCount / allTweetsCount < 0.5">
				Only {{ geoTweetsCount / allTweetsCount }}% of found tweets have geolocation information.
				You could get better ratio, if you set prefered location in the map below:
			</div>

			<label for="geofilter">Show only geo tweets: </label>
			<input id="geofilter" type="checkbox" ng-model="showGeo" ng-init="showGeo=true">

			<hr/>

			<label for="geolocation">Prefere tweets from specific location: </label>
			<input id="geolocation" type="checkbox" ng-model="enableGeolocation" ng-init="enableGeolocation=false">
			<leaflet style="width: 500px; height: 300px" center="formMapCenter" ></leaflet>
			<div>map lat: {{ formMapCenter.lat }}</div>
			<div>map lng: {{ formMapCenter.lng }}</div>

			<hr/>
		</div>

		<ul infinite-scroll="next()" infinite-scroll-distance="0.3">
			<li ng-repeat="tweet in filtered = (tweets | filter:geoFilter)" ng-class="{geo: tweet.coordinates !== null}" ng-controller="ItemController">
				<h2>{{ tweet.user.name }}</h2>
				<p>{{ tweet.text }}</p>
				<div ng-if="tweet.coordinates !== null" ng-controller="GeoItemController">
					<leaflet class="map" center="center" markers="markers" id="tweet.id" ></leaflet>
				</div>
			</li>
		</ul>
	</body>
</html>